* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

.cell {
  &.e {
    border-right: 3px solid black;
  }

  &.s {
    border-bottom: 3px solid black;
  }
}